@use 'variables' as *;


#artist {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 116px;

  header {
    position: fixed;
    top: 0;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    > div {
      margin-left: 16px;
    }

  }

  .album-list {
    padding-bottom: 80px;
    flex-grow: 1;
  }
}

.artist-button {
  margin-bottom: 16px;
  position: fixed;
  bottom: 16px;
  max-width: 418px;
  width: 100%;

  button {
    cursor: pointer;
    box-shadow: black 0px 6px 20px 4px;
  }
}

.master-checkbox {
  color: $color-text-grey;
  margin-top: 16px;
  
  input {
    margin-left: 12px;
    margin-right: 16px;
  }
}

#album {

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-card;
    margin: 16px 0;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: $color-card-light;
    }
  }

  span {
    display: flex;
  }

  input {
    margin-right: 16px;
  }

  img {
    height: 80px;
    width: 80px;
  }

  .unselectedAlbum {
    color: $color-text-grey;
  }
}

#confirmation {
  a {
    word-wrap: break-word;
  }

}

.spotifyLogo {
  width: 80px;
  margin-right: 16px;
  margin-left: 8px;
  display: block;
  align-self: flex-end;
}

.spotify-button {
  margin-bottom: 16px;

  a.button {
    background: none;
    border: 1px $color-green solid;
  }
}
