@use 'variables' as *;


#artist {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 182px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    padding: 16px;
    box-sizing: border-box;

    button {
      width: 32px;
      height: 32px;
      background: rgba(0,0,0,0.3);
      font-size: 20px;
      padding: 0;
      cursor: pointer;
    }

  }

  .album-list {
    padding-bottom: 80px;
    flex-grow: 1;
  }

  .button {
    margin: 8px 0;
    border: 2px solid $color-text-grey;
    background: $color-card;

    &:hover {
      background: $color-card-light;
    }

    img {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }

  }
}

.artist-button {
  position: fixed;
  bottom: 32px;
  max-width: 418px;
  width: calc(100% - 32px);

  button {
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 20px 4px;
  }
}

.artist-image {
  height: 150%;
  width: 100%;
  background-size: cover !important;
  position: absolute;
  top: -50%;
  left: 0;
  z-index: -1;
}

.master-checkbox {
  color: $color-text-grey;
  margin-top: 16px;

  input {
    margin-left: 12px;
    margin-right: 16px;
  }
}

.album {
  margin: 16px 0;
  background: $color-card;
  border-radius: 4px;

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
  }

  &:hover {
    background: $color-card-light;
  }

  span {
    display: flex;
  }

  input {
    margin-right: 16px;
  }

  img {
    height: 80px;
    width: 80px;
    margin-left: 8px;
  }

  .unselectedAlbum {
    color: $color-text-grey;
  }

  // .link {
  //   text-align: right;
  //   padding: 8px;
  //   padding-top: 0;
  //   font-size: 12px;
  //   letter-spacing: 2px;
  //
  //   img {
  //     height: 16px;
  //     width: 16px;
  //     margin-right: 8px;
  //     display: inline-block;
  //     margin-bottom: -4px;
  //   }
  //
  //   a {
  //     color: $color-text-grey;
  //
  //     &:hover {
  //       color: $color-green;
  //     }
  //   }
  // }
}

#confirmation {
  a {
    word-wrap: break-word;
  }

}

// .spotifyLogo {
//   width: 80px;
//   margin-right: 16px;
//   margin-left: 8px;
//   display: block;
//   align-self: flex-end;
// }

.spotify-button {
  margin-bottom: 16px;

  a.button {
    background: none;
    border: 1px $color-green solid;
  }
}
