@use 'variables' as *;

#search {

  header {
    color: $color-green;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: $color-text-grey;
    }

    input {
      background: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      padding: 16px;
      color: black;
      margin-top: 8px;

      &:focus {
        outline: none;
      }
    }
  }

  button {
    display: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    a {
      display: flex;
      padding: 16px;
      background: $color-card;
      margin: 16px 0;
      border-radius: 4px;

      &:hover {
        background: $color-card-light;
      }
    }
  }




}
